:root{
    --primary-color: #1589
}

body{
    font-family: Arial, SansSerif, serif;
    line-height: 1.4;
    padding: 1rem;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.signature-pad-form{
    max-width: 300px;
    margin: 0 auto;
}

.signature-pad{
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.clear-button{
    color: var(--primary-color);
}

@media (pointer: coarse) {
    body{
        overflow: hidden;
    }
}